.search__heading-title {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 64px;
  font-family: Roboto Slab, sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 400px) {
  .search__heading-title {
    line-height: 40px;
    font-size: 36px;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .search__heading-title {
    max-width: 400px;
    text-align: left;
    font-size: 36px;
    line-height: 40px;
  }
}
