.author__description_text {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 18px;
  max-width: 600px;
  margin-top: 24px;
}

@media screen and (max-width: 460px) {
  .author__description_text {
    grid-gap: 0;
    max-width: 424px;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .author__description_text {
    grid-gap: 0;
    margin-top: 16px;
    max-width: 424px;
  }
}
