.commits__comment_author {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "ph name"
    "ph email";
  grid-column-gap: 16px;
  margin-top: 15px;
}

@media screen and (min-width: 401px) and (max-width: 568px) {
  .commits__comment_author {
    grid-template-columns: 1fr;
    grid-template-areas:
    "ph"
    "name"
    "email";
  }
}

@media screen and (min-width: 769px) and (max-width: 1010px) {
  .commits__comment_author {
    grid-template-columns: 1fr;
    grid-template-areas:
    "ph"
    "name"
    "email";
  }
}
