# Много весит, появится при установке всех необходимых модулей
/node_modules

# Системная информация
/logs
*.log

# Появится при выполнение команды npm run build
/dist

# Настройки рабочих директорий Visual Studio Code
*.vscode

# Стандартные файлы macOS
DS-Store

# Текстовые и zip файлы, в которые записываем адреса pull реквестов для отправки на проверку
*.zip
*.txt

/.idea
.npm
npm-degub.log*
*.git
