.author__photo {
  max-width: 464px;
  max-height: 464px;

  overflow: hidden;
  background-size: contain;
  background-position: center;
}

.author__photo img {
  width: 100%;
}

@media screen and (max-width: 460px) {
  .author__photo {
    width: 272px;
    height: 272px;
    margin: auto;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .author__photo {
    width: 232px;
    height: 232px;
  }
}
