.author__photo {
  max-width: 464px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-size: contain;
  background-position: center;
}

.author__photo img {
  width: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 460px) {
  .author__photo {
    width: 272px;
    margin: auto;
  }
}
@media screen and (min-width: 461px) and (max-width: 768px) {
  .author__photo {
    width: 232px;
  }
}
