.commits__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 104px 0 104px
}

@media screen and (max-width: 400px) {
  .commits__header {
    padding: 0 16px 0 16px;
  }
}

@media screen and (min-width: 401px) and (max-width: 880px) {
  .commits__header {
    padding: 0 40px 0 40px;
  }
}
