@import url(./_white/header__link_white.css);
@import url(./_black/header__link_black.css);
@import url(./_inactive/header__link_inactive.css);

.header__link {
  text-decoration-line: none;
  font-size: 18px;
  line-height: 24px;
}

.header__link:hover {
  cursor: pointer;
}
