.result__button-more {
  background-color: #fff;
  margin: 64px auto 0 auto;
}

.result__button-more:hover {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 19px;
}

@media screen and (max-width: 400px) {
  .result__button-more {
    margin-top: 13px;
  }
}
@media screen and (min-width: 401px) and (max-width: 768px) {
  .result__button-more {
    margin-top: 32px;
  }
}
