.search__form {
  width: 608px;
  margin: 64px auto auto;
  position: relative;
}

@media screen and (max-width: 460px) {
  .search__form {
    width: 288px;
    height: 128px;
    margin: 64px auto auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 461px) and (max-width: 768px) {
  .search__form {
    width: 452px;
    height: 56px;
    margin: 24px auto auto;
  }
}
