.commits__comment-author-photo {
  grid-area: ph;
  width: 64px;
  height: 64px;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .commits__comment-author-photo {
    width: 48px;
    height: 48px;
  }
}
