.result__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 64px;
}

.result__grid a {
  color: #1a1b22;
  text-decoration-line: none;
}

@media screen and (max-width: 534px) {
  .result__grid {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 535px) and (max-width: 683px) {
  .result__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin-top: 36px;
  }
}

@media screen and (min-width: 684px) and (max-width: 832px) {
  .result__grid {
    grid-gap: 8px;
    margin-top: 32px;
  }
}
