@import url(./_header/analyst__grid_header.css);
@import url(./_scale/analyst__grid_scale.css);
@import url(./_date/analyst__grid_date.css);
@import url(./_graph/analyst__grid_graph.css);

.analyst__grid {
  display: grid;
  grid-template-columns: 104fr 1128fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header"
    "blank1 scale1"
    "date graph"
    "blank2 scale2";
}

@media screen and (max-width: 400px) {
  .analyst__grid {
    grid-template-columns: 80fr 288fr;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .analyst__grid {
    grid-template-columns: 117fr 688fr;
  }
}
