.header__menu_underline {
  padding-top: 22px;
  border-bottom: 3px solid #fff;
}

@media screen and (max-width: 400px) {
  .header__menu_underline {
    padding-top: 13px;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .header__menu_underline {
    padding-top: 15px;
  }
}
