.commits__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 16px;
  margin-top: 64px;
}

@media screen and (max-width: 400px) {
  .commits__blocks {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .commits__blocks {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin-top: 32px;
  }
}
/*
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .commits__blocks {
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;
  }
} */
