.black-header {
  box-shadow: inset 0px -1px 0px #d1d2d6 !important;
}

.black-header .header__title {
  color: #1a1b22 !important;
  text-decoration: none;
}

.black-header .header__menu_underline {
  border-bottom-color: #1a1b22;
}
