<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="icon" sizes="any" type="image/svg+xml" href="<%=require('./img/Favicon.svg')%>">
  <link rel="icon" type="image/png" href="<%=require('./img/Favicon2.png')%>">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Дипломная работа студента Яндекс.Практикума">
  <meta name="keywords" content="Webpack, HTML5, CSS, Java Script">
  <meta name="author" content="Руслан Винокуров">
  <title>NewsAnalyzer</title>
<!---    <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.analyst.css %>">
</head>
<body>
  <div class="root">
    <header class="header black-header">
      <div class="header__content">
        <a href="./index.html" class="header__title">NewsAnalyzer</a>
        <nav class="header__menu">
          <a href="./index.html" class="link">Главная<div class="header__menu_underline"></div></a>
          <a href="./about-project.html" class="link">О проекте<div class="header__menu_underline"></div></a>
        </nav>
      </div>
    </header>

    <section class="about-project">
      <div class="about-project__navigation">
          <a href="./index.html" class="link">Главная</a>
          <span class="link"> / </span>
          <a href="./analyst.html" class="link">Аналитика</a>
      </div>
      <h2 class="about-project__title title"><span>Вы спросили: «</span><span class="about-project__title_insert"></span><span>»</span></h2>
      <div class="about-project__statistic">
        <p class="text">Новостей за неделю: <span class="about-project__insert" id="week">555</span></p>
        <p class="text">Упоминаний в заголовках: <span class="about-project__insert" id="header">555</span></p>
      </div>
    </section>

    <section class="analyst">
      <h3 class="analyst__subtitle subtitle">Аналитика по дням</h3>
      <div class="analyst__grid">
        <div class="analyst__grid-header">
          Дата
          <div class="analyst__grid-header_month">(<span class="analyst__date-insert">август</span>)</div>
        </div>
        <div class="analyst__grid-header">Кол-во упоминаний</div>
        <div class="analyst__grid-scale analyst__grid-scale1">
          <div>0</div>
          <div>25</div>
          <div>50</div>
          <div>75</div>
          <div>100</div>
        </div>
        <div class="analyst__grid-date">
          <div>16, сб</div>
          <div>16, сб</div>
          <div>16, сб</div>
          <div>16, сб</div>
          <div>16, сб</div>
          <div>16, сб</div>
          <div>16, сб</div>
        </div>
        <div class="analyst__grid-graph">
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
          <div class="analyst__grid-graph_pic"><div class="analyst__grid-graph_volume">35</div></div>
        </div>
        <div class="analyst__grid-scale analyst__grid-scale2">
          <div>0</div>
          <div>25</div>
          <div>50</div>
          <div>75</div>
          <div>100</div>
        </div>
    </div>
    </section>

    <footer class="footer">
      <span class="footer__navigation_copyright">&copy; 2019. Supersite</span>
      <nav class="footer__navigation">
        <a href="./index.html" class="link footer__navigation_link">Главная</a>
        <a href="./about-project.html" class="link footer__navigation_link">О проекте</a>
        <a href="https://praktikum.yandex.ru" class="link footer__navigation_link">Яндекс.Практикум</a>
      </nav>
      <div class="footer__icons">
        <img class="footer__icons_logo" src="<%=require('./img/Github-icon.svg')%>" alt="logo-gh">
        <img class="footer__icons_logo" src="<%=require('./img/Fb-icon.svg')%>" alt="logo-fb">
      </div>
    </footer>

  </div>

<!---  <script src="index.js"></script> -->
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
