@import url(./_active/about-project__link_active.css);

.about-project__link {
  text-decoration-line: none;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.about-project__link:hover {
  cursor: pointer;
  color: #1a1b22;
}
